<div class="col-sm-12 col-md-12 col-ls-12">
    <div class="row">
        <div class="col-12">
            <h3 class="select-title">Select the desired folder:</h3>
        </div>
    </div>
    <div class="row">
        <div class="offset-md-3 col-md-3 col-sm-6">
            <app-card-choice text="data/in - folder" (clicked)="clickedIn()"></app-card-choice>
        </div>
        <div class="col-md-3 col-sm-6">
            <app-card-choice text="data/out - folder" (clicked)="clickedOut()"></app-card-choice>
        </div>
    </div>
</div>
<!-- Select the desired folder: -->
<!-- <app-card-choice></app-card-choice> -->